:root {
    --azul-escuro: #051D3B;
    --ciano: #6BD1FF;
    --branco:#FFFFFF;
    --preto: #141414;
    --botao-highlight:#5081FB14;
    --roboto: 'Roboto', sans-serif;
    --inter: 'Inter', sans-serif;
    --input-cinza: #FFFFFF29;
}

body {
    background-color: var(--azul-escuro);

    padding: 1.6rem 1rem;
    font-family: var(--inter);
    letter-spacing: 0.4em;
    color: var(--branco);
}

/*Cabeçalho*/

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__icone {
    margin: 0 1rem;
}