:root {
    --azul-escuro: #051D3B;
    --ciano: #6BD1FF;
    --azul-claro: #5081FB;
    --azul-claro-upacidade: #5081FB29;
    --fundo-menu: #2D415B; 
    --branco:#FFFFFF;
    --preto: #141414;
    --botao-highlight:#5081FB14;
    --roboto: 'Roboto', sans-serif;
    --inter: 'Inter', sans-serif;
    --input-cinza: #FFFFFF29;
}

body {
    background-color: var(--azul-escuro);

    padding: 1.6rem 1rem;
    font-family: var(--inter);
    letter-spacing: 0.4em;
    color: var(--branco);
}

/*Cabeçalho*/


.logo__mobile {
    display: block;
}

.logo {
    display: none;
}


.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__icone {
    display: flex;
    margin-left: 1rem;
}

.icone-menu{
    background-image:url(../img/Menu.svg);
    background-repeat: no-repeat;
    width: 1.5rem;
}

.icone-fechar {
    background-image:url(../img/Fechar.svg);
    background-repeat: no-repeat;
    width: 1.5rem;
}

.cabecalho__icone:focus {
    padding: 600px;
}

.barradepesquisa {
    display: none;
}

.barradepesquisa__mobile{
    display: flex;
}

.barradepesquisa-style:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.barradepesquisa-style {
    background-color: var(--input-cinza);
    border: none;
    border-radius: 8px;
    padding: 5px;
    width: 100%;
    height: 2rem;
    resize: none;
    font-family: var(--inter);
    font-size: 1rem;
    color: var(--branco);
}

/*-------------------Menu--------------------*/

.menu__mobile{
    display: none;
}

.menu {
    display: block;
    position: absolute;
    padding: 1.5rem;
    left: calc(100vw - 250px);
    top: 4.5rem;
    height: 100%;
    background-color: var(--fundo-menu);
    font-size: 16px;
    letter-spacing: 0;
}

.menu__mobile ul {
    border: 0 var(--input-cinza) solid;
    border-bottom-width: 1px;
    padding-bottom: 1rem;
}

.menu__mobile a {
    display: flex;
    align-items: center;
    margin: 0 16px 16px 0;
    color: var(--branco);
    text-decoration: none;
}

.menu__icone {
    background-color: var(--azul-claro-upacidade);
    margin-right: 16px;
    border-radius: 16px;
    padding: 1rem 0.8rem;
}

.ativa {
    background-color: var(--azul-claro);
}

.perfil {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.perfil__foto {
    border-radius: 100%;
    width: 3rem;
    margin-right: 16px;
}

@media screen and (min-width: 768px) {
    .barradepesquisa {
        display: block;
    }

    .barradepesquisa__mobile {
        display: flex;
        flex-direction: row-reverse;
        flex-grow: 1;
    }

    .cabecalho__icone {
        justify-content: flex-start;
    }

    .barradepesquisa-style {
        margin-left: 2rem;
    }
    
    .icone-menu {
        display: block;
        height: 1.5rem;
    }
    .icone-lupa {
        display: none;
    }
}

@media screen and (min-width: 1024px) {

    .menu__mobile {
        display: flex;
        flex-direction: column;
        letter-spacing: 0;   
        margin-top: 3.1rem;
    }
}