:root {
    --azul-escuro: #051D3B;
    --azul-escuro-hover: #5081FB29;
    --azul-focus: #96B9FD;
    --azul-hover: #7BA4FC;
    --azul-normal: #5081FB;
    --azul-normal-8: #5081FB14;
    --azul-normal-16: #5081FB29;
    --azul-menu: #2D415B;
    --branco:#FFFFFF;
    --branco-8: rgb(255,255,255,8%);
    --branco-16: rgb(255,255,255,16%);
    --branco-24: rgb(255,255,255,24%);
    --preto: #141414;
    --preto-16: #00000029;
    --roboto: 'Roboto', sans-serif;
    --inter: 'Inter', sans-serif;
}

body {
    background-color: var(--azul-escuro);
    padding: 32px;
}

.input-style{
    background-color: var(--branco-16);
    border: none;
    border-radius: 8px;

    padding: 16px;
    font-family: var(--inter);
    font-size: 1rem;
    font-weight: 300;
    color: var(--branco);
}

.input-style:hover {
    background-color:var(--branco-24);
    transition: 0.5s;
}

.titulo{
    margin-bottom: 8px;
    color: var(--branco);
    font-size: 12px;
    letter-spacing: 0.4em;
}

.input-style:focus, code:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

/*------------HEADER----------*/

.header {
    display: grid;
    grid-template-columns: 0.4fr 10px 1fr 10px 0.4fr;
    align-items: center;

    margin-bottom: 2.5rem;
    font-family: var(--inter);
}

.header__barradepesquisa{
    display: flex;

    grid-column: 3/4;
}

.header__perfil{
    display: flex;
    justify-content: end;
    align-items: center;

    grid-column: 5/6;
}

.header__perfil-foto {
    margin-right: 10px;
    border-radius: 100%;
    
    width: 2.5rem;
}

.header__perfil-nome {
    display: flex;
    color: var(--branco);
    align-items: center;
    padding: 8px;
}

.header__perfil-nome:hover{
    background: var(--branco-8);
    border-radius: 8px;
}