.editor{
    display: flex;
    flex-direction: column;
}

.editor__color {
    background-color: var(--ciano);

    height: 492px;
    padding: 2rem;

    margin-top: 3.1rem;

    border-radius: 8px;
}

.editor__code{
    display: block;
    background-image: url(../img/mac_buttonsbolinhas.svg);
    background-repeat: no-repeat;
    background-color: var(--preto);
    background-position: 1rem 1rem;
    background-attachment: local;

    border-radius: 8px;
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    padding: 2rem;

    color: var(--branco);

    overflow-y: auto;
    overflow-wrap: break-word;

    font-family: var(--roboto);
    font-size: 14px;
}

.editor__code:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.editor__button {
    background-color: var(--botao-highlight);
    margin: 1rem 0 0 0;
    border: none;
    padding: 1rem;
    color: var(--branco);
    font-family: var(--inter);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/*Projeto*/

.projeto {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    font-size: 12px;
}

.projeto__input {
    background-color: var(--input-cinza);
    margin-top: 1rem;
    width: 100%;
}

.nome {
    padding: 1rem;
    box-sizing: border-box;
}

.descricao {
    padding: 1rem;
    box-sizing: border-box;
    height: 48px;
}