.editor{
    display: flex;
    flex-direction: column;
}

.editor__color {
    background-color: var(--ciano);

    height: 492px;
    padding: 2rem;

    margin-top: 3.1rem;

    border-radius: 8px;
}

.editor__code{
    display: block;
    background-image: url(../img/mac_buttonsbolinhas.svg);
    background-repeat: no-repeat;
    background-color: var(--preto);
    background-position: 1rem 1rem;
    background-attachment: local;

    border-radius: 8px;
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    padding: 2rem;

    color: var(--branco);

    overflow-y: auto;
    overflow-wrap: break-word;

    font-family: var(--roboto);
    font-size: 14px;
}

.editor__code:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

button {
    background-color: var(--botao-highlight);
    margin: 1rem 0 0 0;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    color: var(--branco);
    font-family: var(--inter);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/*Projeto*/

.titulo {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    font-size: 12px;
}

.projeto__input {
    background-color: var(--input-cinza);
    margin-top: 1rem;
    border: none;
    border-radius: 8px;
    width: 100%;
    resize: none;
    font-family: var(--inter);
    font-size: 1rem;
    color: var(--branco);
}

.projeto__input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.nome {
    padding: 1rem;
    box-sizing: border-box;
}

.descricao {
    padding: 1rem;
    box-sizing: border-box;
    flex-grow: 1;
    height: 4.5rem;
}

.selecao {
    padding: 1rem;
}

option {
    background-color: var(--azul-escuro);
}

.color {
    background-color: var(--azul-escuro);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    padding: 0.2rem;
    height: 4rem;
}

.salvar {
    background-color: var(--azul-claro);
    color: var(--azul-escuro);
}

@media screen and (min-width: 768px) {
    .personalizacao {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .selecao {
        margin-right: 1rem;
    }
}

@media screen and (min-width: 1024px) {

    main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .editor {
        width: 52%;
    }
    
    .editor__color {
        height: 18.7rem; 
    }

    .personalizacao {
        flex-direction: column;
    }
}